#book{
    border: 5px solid red;
    height: 300px;
    width: 300px;
    background-color: coral;
}
#book button {
  background-color: #008cff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

#book button:hover {
  background-color: #005fa3;
}
